.text-black {
  color: black;
}

.header-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.font-bold.text-badge-color {
  color: #183662;
}

.header-buttons {
  display: flex;
  align-items: center;
}

.export-button {
  font-weight: bold;
  color: #183662;
}

.add-button {
  background-color: #0056b3;
  border-color: #0056b3;
}

.add-button .anticon {
  color: white;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.left-header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.bulk-action-select .ant-select-selector {
  color: #607d8b;
}

.apply-button {
  background-color: gray;
  color: white;
  border: none;
  font-weight: bold;
}

.right-header {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.search-container,
.filter-icon,
.settings-container {
  margin-right: 1rem;
}

.search-icon,
.filter-icon,
.settings-icon {
  font-size: 16px;
}

.search-input {
  width: 100%;
  max-width: 200px;
}

.header-divider {
  margin: 0 1rem;
}

.coach-profile-container {
  display: flex;
  align-items: center;
}

.profile-icon-container {
  margin-right: 8px;
}

.coach-name {
  font-size: 16px;
}

.profile-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.default-icon {
  font-size: 24px;
  color: #ccc;
}

.ant-table-thead .ant-table-cell {
  background-color: white !important;
}

.custom-table-header .ant-table-cell {
  color: #607d8b;
  font-weight: bold;
}

.custom-table-header .ant-table-thead > tr > th {
  color: #607d8b;
  font-weight: bold;
}

.actions-container {
  text-align: right;
}

.actions-icon {
  font-size: 20px;
  display: inline-block;
}

.text-gray-blue {
  color: #607d8b;
}

.content-wrapper {
  overflow-x: auto;
}

@media (max-width: 768px) {
  .header-container {
    flex-direction: column;
  }

  .left-header {
    width: 100%;
    margin-bottom: 1rem;
  }

  .right-header {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex-wrap: nowrap;
    margin-bottom: 0.5rem;
  }

  .search-container,
  .filter-icon,
  .settings-container {
    margin-right: 0.5rem;
  }

  .search-input {
    width: 100%;
    max-width: none;
  }

  .apply-button {
    width: 100%;
  }

  .custom-table-header {
    width: 100%;
    table-layout: auto;
    overflow-x: hidden;
  }
}
