@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  @apply theme-gradient;
}

h1 {
  @apply text-2xl font-bold;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.btn {
  @apply font-bold py-2 px-4 rounded-full;
}

.btn-primary {
  background: rgba(66,66,66,1);
}

.btn-primary:hover {
  background: rgba(208,195,222,1);
}

.btn-primary:active {
  background: rgba(178,165,192,1);
}

.theme-gradient {
  background: linear-gradient(120deg, rgba(255,77,139,1) 0%, rgba(255,171,0,1) 100%);
}
